---

---

<div class="flex flex-col gap-y-4">
  <p class="text-md md:text-lg max-w-[700px] text-pretty">
    Desarrollador Fullstack con 5 años de experiencia involucrado en todo el
    ciclo de vida de un proyecto. Mi especialidad es implementar soluciones de
    IT usando <span class="text-purple-200/90 mx-1"
      >Javascript, ReactJS, Node.JS, AWS, Python, Kotlin.</span
    >
  </p>
  <p class="text-md md:text-lg text-pretty leading-relaxed">
    Me gusta aplicar <span
      class="text-purple-200/90 mx-1"
      >buenas practicas, testing y automatizar tareas</span
    >, me encanta los nuevos retos para seguir mejorando profesionalmente.
  </p>
</div>
