---
import Layout from "../layouts/Layout.astro";

import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[748px] mx-auto py-44 px-8">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey soy Brando Vidal <a href="https://www.linkedin.com/in/brandovidal" target="_blank" rel="noopener noreferrer" class="flex justify-center items-center">
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h3 class="text-2xl opacity-80">
        +5 años de experiencia. Desarrollador web en Lima, Peru 🚀.
        Especializado en aplicaciones novedosas.
      </h3>
    </section>
  </main>
</Layout>
