---
import Layout from "../layouts/Layout.astro";

import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";

import LinkedinIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import FIlePdfIcon from "../icons/FIlePdf.astro";
---

<Layout title="Brando Vidal - AWS Developer Associate | Fullstack Developer" description="Contacta conmigo para hablar o desarrollar tu idea.">
  <main>
    <section class="w-full lg:w-[748px] mx-auto py-44 px-8">
      <div class="flex items-center pb-4 gap-4">
        <img
          src="https://unavatar.io/brandovidal"
          class="rounded-full size-16"
          alt="brandovidal Profile"
        />
        <a
          href="https://www.linkedin.com/in/brandovidal"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Abierto a ofertas laborales</Badge>
        </a>
      </div>

      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Brando Vidal
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>+5 años de experiencia.</span><span
          class="text-purple-200/90 mx-2"
          >AWS Developer Associate | Fullstack Developer.</span
        >
        <span class="">Especializado en aplicaciones novedosas 🚀.</span>
      </h2>

      <nav class="flex gap-x-4 mt-8">
          <SocialPill href="https://www.linkedin.com/in/brandovidal">
            <LinkedinIcon class="size-6" />
            Linkedin
          </SocialPill>
          <SocialPill href="https://github.com/brandovidal">
            <GithubIcon class="size-6" />
            Github
          </SocialPill>
          <SocialPill href="https://drive.google.com/file/d/1TqfiMkY4yxOZB_TpL-9U9Zbx957uUSLO/view">
            <FIlePdfIcon  class="size-6" />
            Resumen
          </SocialPill>
      </nav>
    </section>
  </main>
</Layout>
