---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";

import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";

import LinkedinIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import FilePdfIcon from "../icons/FilePdf.astro";
import GitMergeIcon from "../icons/GitMerge.astro";
import CodeIcon from "../icons/Code.astro";
import PersonIcon from "../icons/PersonIcon.astro";
---

<Layout
  title="Brando Vidal - AWS Developer Associate | Fullstack Developer"
  description="Contacta conmigo para hablar o desarrollar tu idea."
>
  <main class="px-4 sm:px-8">
    <SectionContainer class="py-32">
      <div class="flex items-center pb-4 gap-x-4">
        <img
          src="https://unavatar.io/brandovidal"
          class="rounded-full size-16"
          alt="brandovidal Profile"
        />
        <a
          href="https://www.linkedin.com/in/brandovidal"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Abierto a ofertas laborales</Badge>
        </a>
      </div>

      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold pb-6 lg:pb-10"
      >
        Brando Vidal
      </h1>
      <h2 class="text-lg md:text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+5 años de experiencia. </span><span
          class="text-purple-400/90 dark:text-purple-200/90 mx-2"
          >AWS Developer Associate | Fullstack Developer.</span
        >
        <span class="">Especializado en crear aplicaciones novedosas 🚀.</span>
      </h2>

      <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/brandovidal">
          <LinkedinIcon class="size-4 lg:size-6" />
          Linkedin
        </SocialPill>
        <SocialPill href="https://github.com/brandovidal">
          <GithubIcon class="size-4 lg:size-6" />
          Github
        </SocialPill>
        <SocialPill
          href="https://drive.google.com/file/d/1TqfiMkY4yxOZB_TpL-9U9Zbx957uUSLO/view?usp=drive_link"
        >
          <FilePdfIcon class="size-4 lg:size-6" />
          Resumen
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="flex gap-x-2 text-2xl font-bold mb-6">
        <GitMergeIcon />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2 class="flex gap-x-2 text-2xl font-bold mb-6">
        <CodeIcon />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="resume">
      <h2 class="flex gap-x-2 text-2xl font-bold mb-6">
        <PersonIcon />
        Sobre mi
      </h2>

      <p class="text-md md:text-lg text-pretty leading-relaxed">
        Desarrollador Fullstack con 5 años de experiencia involucrado en todo el
        ciclo de vida de un proyecto. Mi especialidad es implementar soluciones
        de IT usando Javascript, ReactJS, Node.JS, AWS, Python, Kotlin. Me gusta
        aplicar buenas practicas, testing y automatizar tareas, me ancanta los
        nuevos retos para seguir mejorando profesionalmente.
      </p>
    </SectionContainer>
  </main>
</Layout>
