---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCES = [
  {
    title: "Frontend Engineer",
    description:
      "Abordo proyectos transversales dentro del ecosistema.",
    date: "Jul 2024 - Present",
    link: "https://www.linkedin.com/in/brandovidal/",
  },
  {
    title: "Fullstack Engineer",
    description:
      "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
    date: "Sep 2022 - Jun 2024",
  }
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCES.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem
          title={experience.title}
          description={experience.description}
          date={experience.date}
          link={experience.link}
        />
      </li>
    ))
  }
</ol>
