<footer class="py-8 text-sm text-center text-gray-500 dark:text-gray-400 w-full xl:w-[1120px] mx-auto">
  Hecho con &hearts; gracias a <a href="https://midu.dev/" target="_blank" rel="noopener noreferrer">@midudev</a>
</footer>