<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-8 opacity-80 p-2 text-nowrap text-sm">
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#about">Sobre mi</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>