---
interface Props {
  class?: string;
  id?: string;
}
const { class: className, id } = Astro.props;
---

<section id={id} class=`w-full mx-auto lg:w-[748px] pt-24 pb-0 ${className}`>
  <slot />
</section>
